{% extends 'base.html.twig' %}

{% block body %}
    <main id="app">
        <div class="container">
            <div class="row row-top">
                <div class="col-sm-6">
                    <div style="float: left">
                        <img :alt="user.name" :src="user.photo">
                    </div>
                    <div class="main-info" style="float: left;">
                        <h1 v-html="user.name"></h1>

                        <div v-html="user.place"></div>
                        <div><img :src="user.lang_pic"> <span v-html="user.lang"></span></div>

                        <div>
                            <ul class="ul-top">
                                <li v-for="item in user.experience">
                                    <span v-html="item.name"></span>
                                </li>
                                <li class="plus">+</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="print">
                        <a href="#">Print this page</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-block">
                    <h2>Portfolio</h2>
                    <ul>
                        <li v-for="item in user.portfolio">
                            <a :href="item.href" v-html="item.name"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Experience</h2>
                    <ul>
                        <li v-for="item in user.experience">
                            <span v-html="item.name"></span>
                            <a href="#" v-html="item.experience" class="dotted"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Sample code</h2>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Availability</h2>
                    <div v-html="user.availability"></div>
                    <h3>Preferred Environment</h3>
                    <div v-html="user.environment"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-block">
                    <h2>The Most Amaizing...</h2>
                    <div v-html="user.amaizing"></div>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>In clients I look for...</h2>
                    <div v-html="user.expectation"></div>
                </div>
                <div class="col-sm-6">3</div>
            </div>
        </div>
    </main>
{% endblock %}
