{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center spinner-wrapper">
        <div class="spinner-border spinner" role="status" id="loading"></div>
    </div>
    <main id="app" class="display-none">
        <br><br>
        <div class="container">
            <div class="row row-top">
                <div class="col-sm-10">
                    <div class="float-left">
                        <img id="userpic" :alt="candidate.name" :src="candidate.photo">
                    </div>
                    <div class="main-info float-left">
                        <input type="text" required data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-title="edit and press Enter to Save, Esc to cancel" id="candidate-name"
                               v-model="candidate.name" v-on:keyup.enter="storeName" v-on:keyup="nameKeyUp"
                               v-bind:class="{ name: true, nameIsOk: nameIsOk, nameIsKo: nameIsKo }">
                        <br>
                        <input type="text" required data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-title="edit and press Enter to Save, Esc to cancel" id="candidate-place"
                               v-model="candidate.place" v-on:keyup.enter="storePlace" v-on:keyup="placeKeyUp"
                               v-bind:class="{ place: true, placeIsOk: placeIsOk, placeIsKo: placeIsKo }">

                        <div class="main-info-item"><img src="{{ asset('/svg/en.svg') }}">
                            <span v-html="candidate.lang"></span>
                        </div>
                        <div>
                            <ul class="ul-top">
                                <li v-for="skill in candidate.skills">
                                    <div v-html="skill.name" class="skill-link" v-on:click="editSkill">
                                    </div>
                                    <input class="skill-input display-none" type="text" v-bind:value="skill.name"
                                           v-bind:data-id="skill.id" v-on:keyup.esc="escapeSkill"
                                           v-on:keyup.enter="saveSkill"
                                           title="Click, edit and press Enter to save. Empty value deletes skill. Escape to cancel">
                                </li>
                                <li>
                                    <div class="skill-link skill-plus" v-on:click="newSkill = true" v-if="!newSkill">
                                        +
                                    </div>
                                    <input v-bind:class="{'skill-input': true}" v-if="newSkill" type="text"
                                           v-on:keyup.esc="newSkill = false" v-on:keyup.enter="addSkill"
                                           placeholder="Enter to create or Escape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="print">
                        <a href="javascript:print()">Print this page</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-block">
                    <h2>Portfolio</h2>
                    <ul>
                        <li v-for="item in candidate.portfolios">
                            &ndash; &nbsp;<a :href="item.href" v-html="item.name"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Experience</h2>
                    <ul>
                        <li v-for="skill in candidate.skills">
                            &ndash; &nbsp;<span v-html="skill.name" class="exp-bold"></span>
                            <a href="#" v-html="skill.experience + ' years'" class="dotted exp-link"
                               v-on:click="expEdit"></a>
                            <input type="text" pattern="[\d\.]+" v-html="skill.experience" v-bind:data-id="skill.id"
                                   v-bind:value="skill.experience" title="Press escape to cancel or Enter to save"
                                   v-on:keyup.esc="expEsc" v-on:keyup.enter="expSave" maxlength="4"
                                   class="skill-input exp-input display-none">
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Sample code</h2>
                    <pre><code class="hljs language-php">function sayHallo(): void
{
    echo 'Hallo!';
}</code></pre>
                </div>
                <div class="col-sm-3 col-block">
                    <h2>Availability</h2>
                    <div v-html="candidate.availability"></div>
                    <h3>Preferred Environment</h3>
                    <div v-html="candidate.environment"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-block position-relative">
                    <h2>The Most Amaizing...</h2>
                    <div class="open-quote"></div>
                    <div class="close-quote"></div>
                    <div v-html="candidate.amaizing" class="col-quote"></div>
                </div>
                <div class="col-sm-3 col-block position-relative">
                    <h2>In clients I look for...</h2>
                    <div class="open-quote"></div>
                    <div class="close-quote"></div>
                    <div v-html="candidate.expectation" class="col-quote"></div>
                </div>
                <div class="col-sm-6">
                    <div id="map"></div>
                </div>
            </div>
            <br><br>
        </div>
        <div class="d-flex justify-content-center spinner-wrapper">
            <div class="spinner-border spinner" role="status" v-if="spinner">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
        <h1 align="center" id="not-found" class="display-none">Профиль не найден</h1>
        <br><br>
    </main>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    <script>
        app.candidateId = {{ candidateId }};
        app.fetchCandidate();
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
{% endblock %}
