@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.display-none {
    display: none;
}

body {
    background: #e5e5e5;
}

.container {
    background: #fff;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.inner img {
    width: 100%;
}

.main {
    font: 400 16px/20px Roboto;
}

.place {
    font: 400 16px/20px Roboto;
    width: 360px;
    height: 24px;
    border: none;
    outline: none;
    background: transparent;
}

.name {
    font: 500 40px/48px Roboto;
    width: 360px;
    height: 48px;
    border: none;
    outline: none;
    background: transparent;
}

.name:hover, .place:hover, .name:focus, .place:focus {
    background: #e2e3e3;
    border-bottom: 1px solid #000;
}

.name.nameIsOk, .place.placeIsOk {
    background: #e2e3e3 url('/svg/ok.svg') right 10px top 17px no-repeat;
}

.name.nameIsKo, .place.placeIsKo {
    background: #e2e3e3 url('/svg/ko.svg') right 10px top 17px no-repeat;
}

.place.placeIsOk, .place.placeIsKo {
    background-position: right 7px top 2px;
}

h2 {
    font: 500 24px/24px Roboto;
    margin: 23px 0 13px 0;
}

h3 {
    font: 500 20px/24px Roboto;
    margin: 23px 0 13px 0;
}

a {
    color: #3483CC;
    text-decoration: none;
}

a:hover {
    color: #EB5757;
}

a.dotted {
    border-bottom: 1px dotted #3483CC;
}

a.dotted:hover {
    border-bottom: 1px dotted #EB5757;
}

.row-top {
    padding: 30px 0;
    background: #f0f1f2;
}

.main-info {
    padding: 0 23px;
}

.main-info-item {
    margin-top: 10px;
}

.col-block {
    padding: 23px;
}

.print {
    position: relative;
    background: url(/svg/print.svg) no-repeat;
    float: right;
    top: 13px;
    right: 84px;
    padding-left: 32px;
}

.print:hover {
    background: url(/svg/print-hover.svg) no-repeat;
}

#userpic {
    width: 168px;
    height: 168px;
    border: 7px solid #fff;
    border-radius: 84px;
}

#userpic:hover {
    opacity: .75;
}

.col-block ul {
    list-style: none;
    padding: 0;
}

.col-block ul li {
    margin: 0;
    margin-bottom: 4px;
}

.exp-bold {
    font-weight: 700;
    padding-right: 3px;
}

.col-quote {
    text-align: center;
    width: 70%;
    margin: 10% 15%;
}

.open-quote {
    width: 40px;
    height: 32px;
    background: url(/svg/open-quote.svg);
    position: absolute;
}

.close-quote {
    width: 40px;
    height: 32px;
    background: url(/svg/close-quote.svg);
    position: absolute;
    bottom: 42px;
    right: 23px;
}

.spinner-wrapper {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 2147483647;
}

.spinner {
    display: block;
}

/** sample code */
pre {
    margin-left: -23px
}

/** yandex map */
#map {
    width: 95%;
    height: 100%;
    border-radius: 5px;
}

/**
@see https://mb4.ru/web-services/other/highlight-js/1394-line-numbers-highlight-js.html
 */
.hljs-ln-numbers {
    text-align: center;
    color: #f36;
    border-right: 1px solid #f36;
    vertical-align: top;
    min-width: 25px;
}

.hljs-ln-code {
    padding-left: 10px !important;
}