@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.inner img {
    width: 100%;
}

.main {
    font: 400 16px/20px Roboto;
}

h1 {
    font: 500 40px/48px Roboto;
}

h2 {
    font: 500 24px/24px Roboto;
    margin: 23px 0 13px 0;
}

h3 {
    font: 500 20px/24px Roboto;
    margin: 23px 0 13px 0;
}

a {
    color: #3483CC;
    text-decoration: none;
}

a.dotted {
    border-bottom: 1px dotted #3483CC;
}

a:hover {
    color: #EB5757;
}

.row-top {
    padding: 30px 0;
    background: #64dcee;
}

.main-info {
    padding: 0 23px;
}

.col-block {
    padding: 23px;
}

.ul-top {
    list-style: none;
    overflow: hidden;
    margin-left: -33px;
}

.ul-top li {
    float: left;
    background: #333;
    color: #fff;
    font: 400 14px/16px Roboto;
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
}

.ul-top li.plus {
    padding: 4px 10px;
}

.print {
    position: relative;
    background: url(/svg/print.svg) no-repeat;
    float: right;
    top: 13px;
    right: 84px;
    padding-left: 32px;
}

.print:hover {
    background: url(/svg/print-hover.svg) no-repeat;
}