.ul-top {
    list-style: none;
    overflow: hidden;
    margin-left: -33px;
}

.ul-top li {
    float: left;
    margin-right: 10px;
    margin-top: 13px;
}

.ul-top div.skill-link.skill-plus {
    padding: 4px 10px;
    font-weight: 500;
}

.ul-top li:hover div.skill-link {
    background: #666;
    cursor: pointer;
}

div.skill-link {
    background: #333;
    color: #fff;
    font: 400 14px/16px Roboto;
    padding: 4px;
    border-radius: 4px;
    display: inline;
}

.skill-input {
    font: 400 14px/16px Roboto;
    width: 159px;
    height: 24px;
    border: none;
    outline: none;
    background: #e2e3e3;
    border-bottom: 1px solid #000;
}
