{% extends 'base.html.twig' %}

{% block body %}
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <a href="{{ path('app_profile') }}"><img alt="AXETA" src="{{ asset('svg/axeta.svg') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}
